@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

body{
	line-height: 1.5;
	font-family: 'POppins', sans-serif;
	font-weight: 400;
	background-color:white;
}
body.hidden-scrolling{
	overflow-y: hidden;
}
*{
	margin:0;
	box-sizing: border-box;
}
.container{
	max-width: 800px;
    margin: auto;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
/*header*/
.header{
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 5px 0;
	background-color: whitesmoke;
}
.header-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 5px 0; */
	border-radius: 4px;
}

.header .logo a{
	font-size: 22px;
	text-transform: capitalize;
	color: #073e97;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 14px;
	color: #073e97;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}

.header .menu > .menu-item > a:hover{
	opacity: 0.8;
	scale: 1.03;
}

.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #001e4d;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #001e4d;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}
/*home section*/
.home-section{
   	background: #fff;
    margin: 100px auto ;
	padding: 20px;
    border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	box-shadow: 0 0 10px  #001e4daf;

}
.home-section p{
	text-align: center;
}
.home-section .reseach{
   	background: #fff;
    /* margin: 10px 0; */
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}
.home-section .reseach h2{
   	background: #fff;
    margin: 10px 0;
	font-size: 25px;
	font-weight: 600px;
	color: #001e4d;
	text-align: center;
	text-transform: uppercase;
}
.home-section .reseach h1{
   	background: #fff;
    margin: 10px 0;
	font-size: 18px;
	font-weight: 400px;
	color: #073e97;
	text-align: center;
	text-transform: uppercase;
}
/* .home-section .reseach strong{
	margin: 10px 0;
	text-transform: uppercase;
	font-weight: 700;
} */



/* footer */
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: whitesmoke;
	color: #304033;
    /* width: 90%; */
    margin: 0 auto ;
    border-radius: 10px;
    padding: 20px;
	max-width: 80%;
}
/* model style */


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  /* border: 1px solid #888; */
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
 box-shadow: 0 0 10px  #001e4daf;
}
.modal-content .model-body{
  background-color: #fefefe;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-top: 2px solid;
  border-image: linear-gradient(to right, transparent, blue, yellow, skyblue, transparent) 1;
}
.modal-content .model-body a{
	color: #fff;
	background-color: #001e4d;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.modal-content .model-body a:hover{
	opacity: 0.8;
	background-color: #001e4d;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: rgb(224, 15, 15);
  padding: 5px;
  margin: 5px;
  border: none;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* responsive */

@media(max-width: 767px){
	.header .menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
.header{
	margin: 0 15px;
	padding: 0 15px;
}
.header-main .logo a{
		font-size: 20px;
	}
	.header .nav-menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #001e4d;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.header .nav-menu.open{
		visibility: visible;
		right: 0px;
	}
	.header .menu > .menu-item{
		display: block;
		margin:0;
	}
	
	.header .menu > .menu-item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #969696d8;
	}
	
	.header .close-nav-menu,
	.header .open-nav-menu{
		display: flex;
	}
	.home-section .reseach h1{
		font-size: 16px;
	}
	.home-section .reseach h2{
		font-size: 14px;
		justify-self: auto;
	}
	.home-section {
		margin: 15px;
		padding: 15px;
	}
}
